@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "gilroy" !important;
}

@font-face {
  font-family: "gilroy";
  src: local("gilroy"), url("./fonts/Gilroy-Medium.ttf");
}
